p {
    font-size: 1em;
}

@media only screen and (max-width: 700px) {
    p, h4 {
        font-size: 2.8vw;
    }
}

@media only screen and (min-width: 700px) {
    p, h4 {
        font-size: 16pt;
    }
}