p {
    font-size: 1em;    
    padding: 0%;
    margin: 0px;    
}

h3 {
    margin-top: 4%;
    margin-bottom: 4%;
}

h4 {
    color: rgb(0, 86, 147);
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.025);
    border-radius: 5px;
    padding: 0%;    
    margin: 0px;
    margin-top: 2%;    
}

@media only screen and (max-width: 700px) {
    h3 {
        font-size: 3vw;        
    }    

    p, h4 {
        font-size: 2.75vw;
    }
}

@media only screen and (min-width: 700px) {
    p, h4 {
        font-size: 16pt;
    }
}