---
import {SITE_TITLE} from '../consts';
---

<header>
    <img src="/logo.png" height="32px" width="32px" class="logo" />
    <a href="/" class="site_title">{SITE_TITLE}</a>
</header>

<style>
    header {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: rgba(123, 8, 88, 0.064);
    }

    .logo {
        padding-left: 1.5rem;
        margin-top: auto;
        margin-bottom: auto; 
        vertical-align: middle;
    }

    .site_title {
        text-decoration: none;
        color: rgb(123, 8, 89);
        text-decoration: none;
        vertical-align: middle;
        padding-left: 1rem;
        font-weight: 800;
        font-size: 24pt;
    }   
</style>