---
import {SITE_TITLE} from '../consts';
---

<header>
   <a href="/" class="site_title">{SITE_TITLE}</a>
</header>

<style>
    header {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: rgba(123, 8, 88, 0.064);
    }

    .site_title {
        text-decoration: none;
        color: rgb(123, 8, 89);
        text-decoration: none;
        vertical-align: middle;
        padding-left: 1.5rem;
        font-weight: 800;
        font-size: 32pt;
    }   
</style>