---
import {SITE_TITLE} from '../consts';
---

<header>
    <nav>
        <h2>
            <a href="/">{SITE_TITLE}</a>
        </h2>
    </nav>
</header>

<style>
    header {			
        vertical-align: middle;
        padding-left: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: 500;
        font-size: 32pt;
        color: rgb(255, 255, 255);
    }
</style>